################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/AILawApi/FileContentIndex
/.vs
__pycache__/
*.pyc
/ai-lawyer-api/backend/files/
/ai-lawyer-api/.vs
/ai-lawyer-api/onlyoffice/lib/documentserver/App_Data/cache/files/data/23_1762158480
